
.mainContainer{
    -fx-border-color: #eaeaea;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-background-color: white;
}

.tab-pane *.tab-header-area *.tab-header-background{
    -fx-background-color: #f5f5f5;
    -fx-border-color: #eaeaea;
    -fx-border-width: 1;
    -fx-border-style: hidden hidden solid hidden;

}

TabPane{
    -fx-border-color: #eaeaea;
    -fx-border-width: 1;
    -fx-border-style: solid;
}


VBox, GridPane, ScrollPane{
    -fx-background: #ffffff;

}

.menuBar, MenuBar{
    -fx-background-color: #f5f4f4;
    -fx-border-color: #eaeaea;
    -fx-border-width: 1;
    -fx-border-style: hidden hidden solid hidden;
}

.underline{
    -fx-border-color: #d6d6d6;
    -fx-border-width: 1;
    -fx-border-style: hidden hidden solid hidden;
}


.whiteContainer{
    -fx-background-color: white;
    -fx-padding: 40;
    -fx-border-color: #d6d6d6;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.border{
    -fx-border-color: #b3b3b3;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

Button{
    -fx-background-color: #f6f6f6;
    -fx-background-radius: 2;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 2;

}
Button:hover{
    -fx-background-color: #efefef;
    -fx-border-color: #e2e2e2;

}

TextField{
    -fx-border-radius: 1;
    -fx-background-color: white;
    -fx-border-color: #cfcece;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-background-radius: 0;
}

TextField:focused{
    -fx-effect: dropshadow(three-pass-box, rgba(181, 181, 181, 0.5), 4, 0 ,0 ,0);
}

.tab{
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-width: 1;
    -fx-border-style: solid solid hidden solid;
    -fx-border-color: #d4d4d4;
    -fx-background-color: #efefef;
    -fx-background-insets: 0 2 0 0;
    -fx-border-insets: 0 2 0 0;
    -fx-padding: 2 6 2 4;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;


}
.tab:selected{
    -fx-background-color: white;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #f5f5f5;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 6.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#737373,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#777777,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
